@import "../reset";
@import "../setup";
@import "../util";

.btn__main {
    background-color: $green-dark-cl;
    border-radius: 4px;
    @include transition($t);
}

.btn__main:hover {
    @include transition($t);
    background-color: rgba(56, 142, 60, 0.7);
}

header {
    background-color: $green-light-cl;
    padding: 16px 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
        .logo {
            a {
                img {
                    width: 20%;
                }
            }
        }
        .menu {
            .menu__list {
                display: flex;
                .menu__list--item {
                    list-style: none;
                    font-family: Quicksand;
                    padding: 8px 12px;
                    a {
                        padding: 16px 16px;
                        font-weight: 600;
                        font-size: 16px;
                        color: $white-cl;
                    }
                }
                .menu__list--item:hover {
                    a {
                        @include transition($t);
                        color: rgb(226, 226, 226);
                    }
                }
            }
        }
    }
}

.mainwrapper__intro {
    font-family: Quicksand;
    padding: 90px 0;
    .container {
        .service {
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .service__content {
                .service__content--title {
                    font-weight: 900;
                    font-size: 48px;
                }
                .service__content--description {
                    margin: 20px 0;
                    line-height: 1.5;
                    font-weight: 400;
                }
                .service__content--btn {
                    a {
                        box-sizing: border-box;
                        padding: 8px 20px;
                        background-color: $green-dark-cl;
                        border-radius: 4px;
                        font-weight: 600;
                        font-size: 16px;
                        color: $white-cl;
                    }
                }
                .service__content--btn:hover {
                    a {
                        @include transition($t);
                        background-color: rgba(56, 142, 60, 0.8);
                    }
                }
            }
            .service__img {
                margin-left: 20px;
                max-width: 550px;
                position: relative;
                img {
                    width: 100%;
                }
            }
        }
        .location {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 90px;
            .location__content {
                .location__content--title {
                    font-weight: 900;
                    font-size: 48px;
                }
                .location__content--description {
                    margin: 20px 0;
                    line-height: 1.5;
                    font-weight: 400;
                }
            }
            .location__img {
                width: 100%;
                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }
            }
        }
    }
}

footer {
    background-color: $green-light-cl;
    padding-top: 140px;
    padding-bottom: 80px;
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .contact {
            font-family: Quicksand;
            .contact__title {
                font-weight: 900;
                font-size: 48px;
            }
            .contact__form {
                padding-top: 12px;
                width: 100%;
                input {
                    width: 80%;
                    padding: 8px 12px;
                    border: 1px solid black;
                    border-radius: 4px;
                }
            }
            .contact__submit {
                padding-top: 32px;
                a {
                    box-sizing: border-box;
                    padding: 8px 20px;
                    background-color: $green-dark-cl;
                    border-radius: 4px;
                    font-weight: 600;
                    font-size: 16px;
                    color: $white-cl;
                }
                a:hover {
                    @include transition($t);
                    background-color: rgba(56, 142, 60, 0.8);
                }
            }
        }
        .quote {
            font-weight: 600;
            font-size: 28px;
            font-family: Quicksand;
        }
    }
}
