//font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*primary colors*/
$white-cl: #fff;  
$green-light-cl: rgb(139,195,74);
$green-dark-cl: rgb(56,142,60);

/*global text color*/

/*global bg color*/
$black-bg-cl: #000;

// timing transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1920px;
$container-width: 1200px; // tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop


// MIXINS
// large desktop
@mixin lg {
	@media screen and (max-width: $lg-max) {
		@content;
	}
}
// desktop
@mixin md {
	@media screen and (max-width: $md-max) {
		@content;
	}
}
// tablet
@mixin sm {
	@media screen and (max-width: $sm-max) {
		@content;
	}
}
// mobile
@mixin xs {
	@media screen and (max-width: $xs-max) {
		@content;
	}
}
// small mobile
@mixin xxs {
	@media (max-width: $xxs-max) {
		@content;
	}
}
// desktop landscape
@mixin mdX {
	@media screen and (max-width: $md-max) and (orientation: landscape) {
		@content;
	}
}
// tablet landscape
@mixin smX {
	@media screen and (max-width: $sm-max) and (orientation: landscape) {
		@content;
	}
}
// mobile landscape
@mixin xsX {
	@media screen and (max-width: $xs-max) and (orientation: landscape) {
		@content;
	}
}

@mixin animation($str) {
	animation: #{$str};
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
}
@mixin transform($args) {
	transform: $args;
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
}

@mixin transform-origin($args) {
	transform-origin: $args;
	-webkit-transform-origin: $args;
	-moz-transform-origin: $args;
	-ms-transform-origin: $args;
	-o-transform-origin: $args;
}
@mixin transition-delay($args) {
	transition-delay: $args;
	-webkit-transition-delay: $args;
	-moz-transition-delay: $args;
	-ms-transition-delay: $args;
	-o-transition-delay: $args;
}

@mixin transition($args) {
	transition: $args;
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
}
@mixin text($font-size, $font-family, $line-height, $color, $text-transform) {
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
	color: $color;
	text-transform: $text-transform;
}

@mixin mid($flex: false) {
	@if $flex == false {
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		position: absolute;
	} @else {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@mixin midimg($maxwidth: initial) {
	max-width: $maxwidth;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	position: absolute;
	@include mid;
}

@mixin fullscreen($fixed: false) {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@if $fixed {
		position: fixed;
	} @else {
		position: absolute;
	}
}

@mixin visible($param: 1) {
	@if $param == 1 {
		opacity: 1;
		pointer-events: auto;
	} @else {
		opacity: 0;
		pointer-events: none;
	}
}
@mixin br($radius) {
	border-radius: $radius;
	background-clip: padding-box;
}

@mixin overtext($lines) {
	display: -webkit-inline-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin customscroll($width: 5px, $bgTrack: #000, $bgThumb: #ddd) {
	&::-webkit-scrollbar {
		width: $width;
	}
	&::-webkit-scrollbar-track {
		background: $bgTrack;
	}
	&::-webkit-scrollbar-thumb {
		background: $bgThumb;
	}
}


//anchor
a {
  text-decoration: none;
  color: unset;
  // &:active,
  // &:visited {
  //   color: unset;
  // }
}
img {
//   display: block;
//   width: 100%;
  height: auto;
}

.hidden {
	display: none;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8bc34a;
  }
}

html,
body {
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    background: #e9ecef;
    scroll-behavior: smooth;
    position: relative;
    main {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .container-fluid {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
        @include xs {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gap > .col,
    .no-gap > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: $xxs-min) {
        .container {
            max-width: 540px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }

    .mainwrapper {
        width: 100%;
        margin: auto;
        @include visible;
    }
}

